//$mainColor: #C4DBD1; //blue
//$secondaryColor:#ffffff; //white
//$thirdColor: #99cccc; //darker blue
//$fourthColor: #49807d; //dark green

$mainColor: #000000; //black
$secondaryColor:#ffffff; //white
$thirdColor: #5AA0A0; //darker blue
$fourthColor: #D7DCDC; //dark green


