.gallery.bannerImage {
    margin-bottom: 2em;
}

.gallery br {
    display: none;
    margin: 0px;
}

dl.gallery-item {
	float: left;
	margin: 0px;
    padding: 0;
    height: 175px;
    width: 175px;
    margin: 2px;
  
}

.galleryContent { 
	display: table;
    margin: 0 auto;
}

.galleryContainer {
    width: 93%;
    margin: 0 auto;
    @media screen and (max-width: 400px){
        width: 88%;
    }

}


.gallery-caption{
    color: white !important;
    margin:-108px 1px 80px;
    text-align: center !important;
    background-color: $thirdColor;
    position: relative;
}
dt.gallery-icon.landscape {
    height: 175px;
    width: 175px;
    border: 1px solid white;
    opacity: 0.5;
     &:hover {
        opacity: 1;
    }
}

dt.gallery-icon.portrait {
    opacity: 0.5;
     &:hover {
        opacity: 1;
    }
}

img {
    max-width: 100%;
    height: auto;
}

