.gallery br {
    display: none;
    margin: 0px;
}

dl.gallery-item {
	float: left;
	margin: 0px;   

}

.galleryContent {
	text-align: center;
    margin: 0 auto;
    display: table;
    margin-bottom: 20px;
}

.galleryContainer {
    width: 95%;
    margin: 0 auto;
}

img {
    max-width: 100%;
    height: auto;
}


attachment-main-gallery-size size-main-gallery-size {
    width: 200px;
    height: 200px;
}

dd {
    visibility: hidden;
    margin-top: -32px;
    text-align: center;
    margin: 0 auto;
    margin-top: -35px;
    z-index: 9999;
    position: relative;
  
    &:hover{
    visibility: visible;
    display: block;
    background: red;
    color: white;
    margin-top: -32px;
    text-align: center;
    margin: 0 auto;
    margin-top: -35px;
    z-index: 9999;
    position: relative;
    }
}