.gallery.bannerImage {
    margin-bottom: 2em;
}

.gallery br {
    display: none;
    margin: 0px;
}

dl.gallery-item {
	float: left;
	margin: 0px;
    opacity: 0.5;
    &:hover{
        opacity: 1;
    }
}

.galleryContent {
	display: table;
    margin: 0 auto;
}

.galleryContainer {
    width: 93%;
    margin: 0 auto;
    @media screen and (max-width: 400px){
        width: 88%;
    }

}



img {
    max-width: 100%;
    height: auto;
}


