.row.twelve.columns.articles {
	padding: 20px;
	h5 {
		font-size: 1.5em;
		color: $thirdColor;
	}
}

.moreArticles {
	border: 1px solid $fourthColor;
	padding: 10px;
	text-align: center;
	margin: 25px 0;
	li {
	padding: 0 10px;
	}

}

.contact-container {
    padding: 20px;
}

.wendiInfo, .siteInfo{
	border: 1px solid $fourthColor;
    	padding: 30px 5px;
    	margin-bottom: 20px;
}

.sideOptions {
    margin: 20px 0;
}

 .widget{
 	 margin: 10px 0;
      h2{
            text-align: center;
    text-transform: uppercase;
    color: #5AA0A0;
    font-family: cardoregular;
    padding: 0!important;
    font-size: 1.1em;
      }
 }

