.row.twelve.columns.articles {
	padding: 20px;
	h5 {
		font-size: 1.5em;
		color: $thirdColor;
	}
}

.moreArticles {
	border: 1px solid $fourthColor;
	padding: 10px;
	text-align: center;
	margin: 25px 0;
	li {
	padding: 0 10px;
	}

}

.contact-container {
    padding: 20px;
}

.wendiInfo, .siteInfo{
	border: 1px solid $fourthColor;
    	padding: 30px 5px;
    	margin-bottom: 20px;
}

.sideOptions {
    margin-bottom: 20px;
}

