@import 'colors.scss';
@import 'gallery.scss';
@import 'pages.scss';
@import 'fonts.scss';
@import 'nav.scss';
@import 'video.scss';
@import 'framework.scss';
@import 'normalize.scss';

body {

	h1 {
		color: $thirdColor;
		font-family: $headerFont;
		font-size: 3em;
   		margin: 0;

	}

	h2, h5 {
		
		font-size: 0.8em;
		letter-spacing: 0.1rem;
		text-transform: uppercase;
		margin-bottom: 4px;
	}

	li {
		list-style: none;
	}
}

li {
   display: inline;
}
a{
  text-decoration: none;
  color: $thirdColor;
}
a:hover{
  color: $greenHover;
}
ul {
	margin-bottom: 0;
}

.fa {
	color: $thirdColor
}

.fa:hover {
	color: #49807d;
}

hr {
	width: 100%;
	color: $thirdColor;
}

p{
	clear:both;
}


.clear {
    clear:both;
}

img {
	max-width: 100%;
}

img.alignright { float: right; margin: 0 0 1em 1em; }
img.alignleft { float: left; margin: 0 1em 1em 0; }
img.aligncenter { display: block; margin-left: auto; margin-right: auto; }
.alignright { float: right; }
.alignleft { float: left; }
.aligncenter { display: block; margin-left: auto; margin-right: auto; }

.headerBorder {
    border-bottom: 1px solid $thirdColor;
    width: 32%;
    margin: 0 auto;
}


.bannerImageMain {
	height: 400px;
	background-color: $mainColor;
	background-position: center center;
	background-repeat: no-repeat;
	margin-bottom: 25px;
	 -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.blur {
	opacity:0.8;
	-webkit-filter: blur(3px);
  -moz-filter: blur(3px);
  -o-filter: blur(3px);
  -ms-filter: blur(3px);
  filter: blur(3px);
}

div#text {
    margin: 10px 0px;
    border: 3px solid;
    padding: 20px 0px;
    text-align: center;
    h2{
    	font-family: $extrasFont;
    	color: $thirdColor;
    }
}
.row.three.columns.sidebar {
    text-align: center;
    h2 {
    	text-align: center;
    	font-weight: bold;
    }
    .widget {
    	border: 1px solid $fourthColor;
    	padding: 30px 10px;
    	margin-bottom: 20px;
    }
    h2{
    	text-align: center;
    text-transform: uppercase;
    color: #5AA0A0;
    font-family: cardoregular;
    padding: 0!important;
    font-size: 1.1em;
    }
    p {
    	font-family: $paragraphFont;
    }
}

.twitterSidebar {
	@media screen and (max-width: 650px) {
		display: none;
	}
}

.instagramDesktop {
	text-align: center;
}

/**.post-wrapper:first-child {
	width: 90%;
	.postImage {
		max-width: 100%;
	}
} **/

.post-wrapper {
	text-align: center;
	font-family: $paragraphFont;
	margin: 20px;
	@media screen and (min-width:800px){
		width: 45%;
		float: left;
	}

	
	h1 {
		margin: 0px;
		font-family: $headerFont;
		text-transform: uppercase;
		font-size: 2em;
		color: $thirdColor;
	}
	a {
		text-decoration: none;
		color: $thirdColor !important;
	}
	.postInfo {
		padding: 0 10px;
		font-family: $extrasFont;
		font-weight: bold;
		margin-bottom: 10px;
		.before{
			border-bottom: 3px solid $thirdColor;
			width: 10px;
			height: 10px;
		}
	}

	img.alignnone {
		max-width: 100%;
		height: auto;
	}

	.blog-post-headline {
		font-size: 1em;
	}
}

.postDate {
	font-family: $paragraphFont;
}
	.postDate span {
	  display: inline-block;
	  position: relative;  
	}
	.postDate span:before,
	.postDate span:after {
	  content: "";
	  position: absolute;
	  height: 11px;
	  border-bottom: 1px solid $thirdColor;
	  top: 0;
	  width: 45%;
	}
	.postDate span:before {
	  right: 100%;
	  margin-right: 15px;
	}
	.postDate span:after {
	  left: 100%;
	  margin-left: 15px;
	}

.row.nine.columns.post-nav {
	text-align: center;
	margin-bottom: 20px;

}	

.single-post-wrapper {
	text-align: center;
	font-family: $paragraphFont;
	margin: 20px;
	h1 {
		margin: 0px;
		font-family: $headerFont;
		text-transform: uppercase;
		font-size: 2em;
	}
	a {
		
		color: $thirdColor !important;
	}
	.postInfo {
		padding: 0 10px;
		font-family: $extrasFont;
		font-weight: bold;
		margin-bottom: 10px;
	}

	img.alignnone {
		max-width: 100%;
		height: auto;
	}
	.postInfo {
		width: 100%;
	}
}

.row.relatedposts {
	text-align: center;
	 h2 {
    	font-family: cardoregular;
		color: $thirdColor;
		font-size: 1.5em;
    	margin-bottom: 20px;
    }
}

.relatedPost {
   width: 30%;
    float: left;
    padding: 10px;
    margin-bottom: 20px;
    @media screen and (max-width: 620px) { 
    	padding: 5px;
    }
    h3 {
    	font-size: 2rem;
    	margin-bottom: 0px;
    	@media screen and (max-width: 620px) {
    		font-size: 1.5rem;
    	}
    }

}

.randPostImg{
	max-height: 200px !important;
	width: auto;
 }

div#related_posts {
    margin: 0 auto;
    width: 100%;
}

span.full-width {
	width: 90%;
	text-align: center;
}

span.text-half{
	width: 40%;
	float: left;
	
}

.bioContainer {
	width: 90%;
	margin: 20px auto;
}

.gallerySection {
	margin-top: 20px !important;
	width: 90%;
	margin: 0 auto;
	text-align: center;
	div#gallery-1 {
		width: 90%;
		margin: 0 auto;
	}

}

.aligncenter, img.aligncenter { clear: both; display: block; margin-left: auto; margin-right: auto; }


.row.twelve.columns.footerLink {
    padding: 20px;
    background: $mainColor;
    font-family: $subheaderFont;
    height: 100px;
    margin-top:-9px;
    color: white;
   	p{
   		float: left;
   		margin: 10px 0 0 0;
   	}
   	ul.footerLinks {
   		float: right;
   		margin: 10px 0 0 0;
   		li {
   			padding: 0 3px;
   		}
   		a{
   			color: white;
   		}
   		@media screen and (max-width: 500px){
			font-size: 0.7em;
		}
		@media screen and (max-width: 380px){
			font-size: 0.6em;
			li{
				padding: 0 2px;
			}
			

		}
   	}
}

.copyright {
	@media screen and (max-width: 500px){
			font-size: 0.8em;
		}
		@media screen and (max-width: 380px){
			font-size: 0.6em;
		}
}
.footerText{
	position: absolute;
	bottom: 0;
	margin-bottom: 20px;
}

p.copyright {
	font-family: $paragraphFont;
	font-size: 1.2rem;
    text-transform: uppercase;
    margin: 0px;
    text-align: left;
}

.post_info_date:before {
	content: "";
    border-bottom: 3px solid #be9656;
    width: 100%;
    position: absolute;
    left: 0;
    top: 50%;
    z-index: 0;
}



div#text-3 a {
	padding: 0 8px;
}

//back to the top
a.back-to-top {
	background-color: $thirdColor;
	width: 60px;
	height: 60px;
	text-indent: -9999px;
	z-index: 999;
	right: 20px;
	bottom: 20px;
	background: $thirdColor ;
	padding: 8px;
	a {
		color: white !important;
	}
}

ul.wpfai-list {
	text-align: center;
}

img.img-wrapper {
	max-height: 400px;
}