@import 'colors.scss';
@import 'gallery.scss';
@import 'fonts.scss';
@import 'nav.scss';
@import 'video.scss';
@import 'framework.scss';
@import 'normalize.scss';

body {

	h1 {
		color: $thirdColor;
		font-family: $headerFont;
		font-size: 3em;
   		margin: 0;

	}

	h2, h5 {
		
		font-size: 1em;
		letter-spacing: 0.1rem;
		text-transform: uppercase;
		margin-bottom: 4px;
	}

	li {
		list-style: none;
	}
}

li {
   display: inline;
}
a{
	text-decoration: none;
	color: $thirdColor;
}
a:hover{
	color: $hoverGreen;
}
ul {
	margin-bottom: 0;
}

.fa {
	color: $thirdColor
}

.fa:hover {
	color: #49807d;
}

hr {
	width: 100%;
	color: $thirdColor;
}


.clear {
    clear:both;
}

.headerBorder {
    border-bottom: 1px solid $thirdColor;
    width: 32%;
    margin: 0 auto;
}


.bannerImageMain {
	height: 400px;
	background-color: $mainColor;
	background-position: center center;
	background-repeat: no-repeat;
	margin-bottom: 25px;
}

.blur {
	opacity:0.8;
	-webkit-filter: blur(3px);
  -moz-filter: blur(3px);
  -o-filter: blur(3px);
  -ms-filter: blur(3px);
  filter: blur(3px);
}

/** div.fadeMe {
  opacity:    0.5; 
  background: #000; 
  width:      100%;
  height:     100%; 
  z-index:    10;
  top:        0; 
  left:       0; 
  position:   fixed; 
} **/

div#text {
    margin: 10px 0px;
    border: 3px solid;
    padding: 20px 0px;
    text-align: center;
    h2{
    	font-family: $extrasFont;
    	color: $thirdColor;
    }
}
.row.three.columns.sidebar {
    text-align: center;
    padding: 20px;
    h2 {
    	text-align: center;
    	font-weight: bold;
    }
    .widget {
    	border: 1px solid $fourthColor;
    	padding: 30px 10px;
    	margin-bottom: 20px;
    }
    p {
    	font-family: $paragraphFont;
    }
}

.instagramWendi{
	border: 1px solid $fourthColor;
	padding: 30px 10px;
    margin-bottom: 20px;
    height: 150px;
    .newImages{
    	width: 90%;
    	margin: 0 auto;
    }
    img {
    	width: 33%;
    	height: auto;
    	float: left;
    }
    li img {
    	width: 20%;
    	height: auto;
    }
}

.post-wrapper:first-child {
	width: 90%;
	.postImage {
		width: 100%;
	}
}

.post-wrapper {
	text-align: center;
	font-family: $paragraphFont;
	margin: 20px;
	@media screen and (min-width:800px){
		width: 45%;
		float: left;
	}
	
	h1 {
		margin: 0px;
		font-family: $headerFont;
		text-transform: uppercase;
		font-size: 2em;
		color: $thirdColor;
	}
	a {
		text-decoration: none;
		color: $thirdColor !important;
	}
	.postInfo {
		padding: 0 10px;
		font-family: $extrasFont;
		font-weight: bold;
		margin-bottom: 10px;
		.before{
			border-bottom: 3px solid $thirdColor;
			width: 10px;
			height: 10px;
		}
	}

	img.alignnone {
		max-width: 100%;
		height: auto;
	}
}

.postDate {
	font-family: $paragraphFont;
}
	.postDate span {
	  display: inline-block;
	  position: relative;  
	}
	.postDate span:before,
	.postDate span:after {
	  content: "";
	  position: absolute;
	  height: 11px;
	  border-bottom: 1px solid $thirdColor;
	  top: 0;
	  width: 45%;
	}
	.postDate span:before {
	  right: 100%;
	  margin-right: 15px;
	}
	.postDate span:after {
	  left: 100%;
	  margin-left: 15px;
	}	

.single-post-wrapper {
	text-align: center;
	font-family: $paragraphFont;
	margin: 20px;
	h1 {
		margin: 0px;
		font-family: $headerFont;
		text-transform: uppercase;
		font-size: 2em;
	}
	a {
		text-decoration: none;
		color: $mainColor !important;
	}
	.postInfo {
		padding: 0 10px;
		font-family: $extrasFont;
		font-weight: bold;
		margin-bottom: 10px;
	}

	img.alignnone {
		max-width: 100%;
		height: auto;
	}
	.postInfo {
		width: 100%;
		text-transform: uppercase;
		font-size: 1.5rem;
		color: $thirdColor;
	}
}

.row.relatedposts {
	text-align: center;
	 h2 {
    	margin-bottom: 0px;
    }
}

.relatedPost {
   width: 25%;
    float: left;
    padding: 10px;
    h3 {
    	font-size: 2rem;
    	margin-bottom: 0px;
    }

}

div#related_posts {
    margin: 0 auto;
    width: 90%;
}

span.full-width {
	width: 90%;
	text-align: center;
}

span.text-half{
	width: 40%;
	float: left;
	
}

.bioContainer {
	width: 90%;
	margin: 0 auto;
}

.gallerySection {
	margin-top: 20px !important;
	width: 90%;
	margin: 0 auto;
	text-align: center;
	div#gallery-1 {
		width: 90%;
		margin: 0 auto;
	}

}


.row.twelve.columns.footerLink {
    padding: 20px;
    background: $mainColor;
    font-family: $subheaderFont;
    height: 100px;
    margin-top:-9px;
    color: white;
   	p{
   		float: left;
   		margin: 10px 0 0 0;
   	}
   	ul.footerLinks {
   		float: right;
   		margin: 10px 0 0 0;
   		li {
   			padding: 0 3px;
   		}
   		a{
   			color: white;
   		}
   	}
}
.footerText{
	position: absolute;
	bottom: 0;
	margin-bottom: 20px;
}

p.copyright {
	font-family: $paragraphFont;
	font-size: 1.2rem;
    text-transform: uppercase;
    margin: 0px;
    text-align: left;
}

.post_info_date:before {
	content: "";
    border-bottom: 3px solid #be9656;
    width: 100%;
    position: absolute;
    left: 0;
    top: 50%;
    z-index: 0;
}

.in-grid-4.square-image {
	.lightwidget.square-image .in-image {

	}
}

#instafeed img {
	width: 10% !important;
	@media screen and (max-width: 800px){
		width: 20% !important;
		margin-top: -9px;
	}

}

.instagramDesktop {
	i.fa.fa-instagram.black {
		color: black;
	}
	text-align: center;
	h2 {
		font-family: $subheaderFont;
	}
}

.instagramDesktop span {
  display: inline-block;
  position: relative;  
}
.instagramDesktop span:before,
.instagramDesktop span:after {
  content: "";
  position: absolute;
  height: 11px;
  border-bottom: 1px solid $thirdColor;
  top: 0;
  width: 20%;
}
.instagramDesktop span:before {
  right: 100%;
  margin-right: 15px;
}
.instagramDesktop span:after {
  left: 100%;
  margin-left: 15px;
}	


.mainNav {
	@media screen and (max-width: 850px) {
		display: none;
	}
}

/**.nav-mobile li{
	display: block;
		background: $mainColor;
		color: white;
} **/

div#text-3 a {
	padding: 0 8px;
}

//back to the top
a.back-to-top {
	width: 60px;
	height: 60px;
	text-indent: -9999px;
	z-index: 999;
	right: 20px;
	bottom: 20px;
	background: $thirdColor ;
	padding: 8px;
}



